HCP_ORG_ID=
HCP_PROJ_ID=
HCP_NETWORK_ID=
HCP_CLIENT_ID=
HCP_CLIENT_SECRET=
CONSUMER_ACCOUNT=arn:aws:iam::<account-id>:role/<role-name>
CONSUMER_IP_RANGES=
CONSUMER_VPC_ID=
CONSUMER_SUBNET_IDS=
VAULT_PRIVATE_DNS_ZONE=hashicorp.cloud
VAULT_FULL_DOMAIN_NAME=